@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.espaimenu {
    width: 100%;
    height: 70px;
    top: 0px;
    background: red;
}

.content {
    background: #343a40;
}

.publ {
    padding-top: 10px;
    align-content: center;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #151515;
    height: 100%;
}

.publicacio {
    height: 260px;
    width: 175px;
    float: left;
    overflow: hide;
    line-height: 20px;
    font-size: 11px;
    margin: 10px;
    margin-left: 50px;
    background-color: #3b4348;
    background: rgba(10, 10, 10, 0.5);
    color: #fff;
    margin: 50px 15px 50px 15px;
}

.publicacio h3 {
    text-align: center;
    color: #FFF;
    margin-top: 258px;
    border-radius: 0px 0px 20px 20px;
    float: unset;
    padding: 3px;
    background: rgba(59, 67, 72, 1);
    box-shadow: 0px 0px 10px rgba(155, 155, 155, 0.51);
    position: relative;
    font-size: 14px;
    z-index: 999;
}

img {
    margin-top: 75px;
    margin-left: -185px;
    height: 235px;
    width: 165px;
    border: none;
}

.date {
    text-align: center;
    color: #FFF;
    border-radius: 0px 0px 11px 11px;
    float: unset;
    padding: 3px;
    background: rgba(0, 0, 0, 0.637);
    box-shadow: 0px -15px -15px rgba(59, 67, 72, 1);
    position: relative;
    font-size: 11px;
    z-index: 999;
}

.type {
    text-align: center;
    margin-top: -50px;
    color: #FFF;
    border-radius: 20px 20px 0px 0px;
    float: unset;
    padding: 3px;
    background: rgba(255, 255, 255, 1);
    position: relative;
    font-size: 20px;
    z-index: 999;
    font-size: 14px;
}

.peli {
    background: rgba(255, 25, 25, 0.5);
    box-shadow: 0px 0px 10px rgba(255, 25, 25, 1);
}

.serie {
    background: rgba(255, 210, 9, 0.65);
    box-shadow: 0px 0px 10px rgba(145, 119, 3, 1);
}

.ova {
    background: rgba(25, 25, 225, 0.5);
    box-shadow: 0 0 10px rgba(25, 25, 225, 1);
}